DirectoryIndex index.cgi
AddHandler cgi-script .cgi
Options +ExecCGI

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.cgi?request=/$1 [L]
